# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.metadata

# Android
android/.gradle/
android/local.properties
android/app/google-services.json

# iOS
ios/Pods/
ios/.symlinks/
ios/Runner/GoogleService-Info.plist

# IDE
.idea/
*.iml
.vscode/
*.DS_Store

# Secrets
.env
google-services.json
GoogleService-Info.plist
